<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <div id="app"></div>
  <script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=19b7aeeed2c9064feeeb3bb924bddc7c&libraries=services"></script>
  <script type="text/javascript" src="javascripts/index.js"></script>
</body>

</html>